<!DOCTYPE html>
<html>
    <head>
        <title> Pyscript Test </title>

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- PyScript -->
        <script src="{{url_for('static',filename='boot.js')}}"></script>
        <link rel="stylesheet" href="https://pyscript.net/releases/2023.03.1/pyscript.css" />
        <script defer src="https://pyscript.net/releases/2023.03.1/pyscript.js"></script>
    </head>

    <body>
        <h1> Hello, PyScript! </h1>
        <py-script src="{{url_for('static',filename='script.py')}}"></py-script>
    </body>
</html>