<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the number</title>
</head>
<body>
    <h1>Guess the number</h1>
    <p>Please guess a number between 0 and 9:</p>
   
    <input type="number" id="userNumber" min="0" max="9" required>
    <button id="guessButton">Guess</button>

    <p id="result"></p>
    <script src="{{ url_for('static', filename='game_script.js') }}"></script>
</body>
</html>
